[submodule ".tmux/plugins/tmux-continuum"]
	path = .tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule ".tmux/plugins/tmux-battery"]
	path = .tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "bin/remarkable"]
	path = bin/remarkable
	url = https://github.com/reHackable/scripts.git
[submodule "local/src/vim"]
	path = local/src/vim
	url = https://github.com/vim/vim.git
[submodule "local/src/alt"]
	path = local/src/alt
	url = https://github.com/uptech/alt.git
[submodule ".local/share/yadm/archive-repo"]
	path = .local/share/yadm/archive-repo
	url = https://gogs.andreas-wachowski.net/andreas/yadm-archive.git
[submodule "local/src/neomutt"]
	path = local/src/neomutt
	url = https://github.com/neomutt/neomutt.git
[submodule ".rbenv/plugins/rbenv-default-gems"]
	path = .rbenv/plugins/rbenv-default-gems
	url = https://github.com/rbenv/rbenv-default-gems.git
[submodule ".vim/pack/thirdparty/start/vimoutliner"]
	path = .vim/pack/thirdparty/start/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner.git
