[submodule "dots/tmux/plugins/tpm"]
	path = dots/tmux/plugins/tpm
	url = git://github.com/tmux-plugins/tpm.git
[submodule "dots/tmux/plugins/tmux-continuum"]
	path = dots/tmux/plugins/tmux-continuum
	url = git://github.com/tmux-plugins/tmux-continuum.git
[submodule "dots/tmux/plugins/tmux-resurrect"]
	path = dots/tmux/plugins/tmux-resurrect
	url = git://github.com/tmux-plugins/tmux-resurrect.git
