/*
 * Prerequisite:
 * in about:config, set toolkit.legacyUserProfileCustomizations.stylesheets to true
 *
 * This file's location on
 * MacOS: ~/Library/Application Support/Firefox/Profiles/<profile-dir>/chrome/userChrome.css
 */
Toolbar { visibility: collapse; }

#sidebar-header { visibility: collapse; }

/* https://superuser.com/questions/1424478/can-i-hide-native-tabs-at-the-top-of-firefox */
/* remove tabs, but preserve menu and minimize/maximize/close buttons */
#tabbrowser-tabs {  visibility: collapse;}
